.PhonesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  list-styles: none;

  &__card {
    border: 1px solid #ccc;
    padding: 20px;

    &__image {
      display: block;
      margin: 0 auto;
      padding: 20px;
      object-fit: contain;
    }

    &__brand {
      font-size: 10px;
      font-weight: 300;
      color: #79736d;
      text-transform: uppercase;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
